<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">Simple Table</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
    </div>
    <div class="card-body">
        <kendo-grid #grid [data]="gridData" style="height: 450px; width: 1150px;" [pageSize]="20"
            (edit)="editHandler($event)" [sortable]="true" [pageable]="true" [sortable]="true" [navigable]="true"
            [resizable]="true" (cellClose)="cellCloseHandler($event)" (cellClick)="cellClickHandler($event)" 
            filterable="menu">
            <ng-template kendoGridToolbarTemplate>
                <button kendoButton iconClass="fa fa-floppy-o" (click)="Update(grid)">
                    Update
                </button>
            </ng-template>
            <kendo-grid-command-column title="command" [width]="150" [locked]="true">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand [primary]="true">Info</button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="statusshipping" title="Mã trạng thái ship" [width]="200" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="status" title="Trạng thái" [width]="250" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="payment" title="Phương thức" [width]="250">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.payment ? "Thanh toán bằng tiền mặt" : "Thanh toán bằng ví" }}
                </ng-template>  
            </kendo-grid-column>
            <kendo-grid-column field="fullname" title="Tên người nhận" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="sdt" title="SĐT" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="address" title="Địa chỉ" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="total" title="Giá gốc" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="downtotal" title="Giá giảm" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="transportFee" title="Giá ship" [width]="150"></kendo-grid-column>
        </kendo-grid>
        <div *ngIf="Bill.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
    </div>
</div>