<style>
    .row {
        margin: 10px 0px;
    }

    .row div {
        margin: 10px 0px;
    }

    label {
        display: block;
    }

    #loading {
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        font-size: 64px !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        color: #ff6757 !important;
        z-index: 99999;
    }

    .k-content.k-window-content.k-dialog-content {
        width: 100% !important;
    }
</style>
<form [formGroup]="formGroup">
    <kendo-tabstrip>
        <kendo-tabstrip-tab title="Thông tin đơn hàng" [selected]="true">
            <ng-template kendoTabContent>
                <div *ngIf="api.loading" class="k-i-loading" id="loading"></div>
                <kendo-toolbar *ngIf="isToolbar">
                    <kendo-toolbar-button text="Hủy đơn" (click)="cancel()" *ngIf="isCancel"></kendo-toolbar-button>
                    <kendo-toolbar-button text="Xác nhận" (click)="confirm()" *ngIf="isConfirm"></kendo-toolbar-button>
                    <kendo-toolbar-button text="Giao bên vận chuyển" (click)="ship()" *ngIf="isShip">
                    </kendo-toolbar-button>
                    <kendo-toolbar-button text="Khách đã nhận hàng" (click)="received()" *ngIf="isReceived">
                    </kendo-toolbar-button>
                    <kendo-toolbar-button text="Hoàn hàng" (click)="refund()" *ngIf="isRefund"></kendo-toolbar-button>
                </kendo-toolbar>
                <div class="row">
                    <div class="col-md-2">
                        <label>Mã sản phẩm</label>
                        <input kendoTextBox readonly style="width: 100%;" formControlName="id"
                            [(ngModel)]="formGroup.value.id" />
                    </div>
                    <div class="col-md-2">
                        <label>Phương thức thanh toán</label>
                        <div>
                            <p *ngIf="formGroup.controls['payment'].value">
                                Thanh toán bằng ví
                            </p>
                            <p *ngIf="!formGroup.controls['payment'].value">
                                Thanh toán bằng tiền mặt
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Tên Người nhận</label>
                        <input kendoTextBox readonly formControlName="fullname" style="width: 100%;"
                            [(ngModel)]="formGroup.value.fullname" />
                    </div>
                    <div class="col-md-4">
                        <label>SDT</label>
                        <input kendoTextBox readonly formControlName="sdt" style="width: 100%;"
                            [(ngModel)]="formGroup.value.sdt" />
                    </div>
                    <div class="col-md-2">
                        <label>Mã trạng thái ship</label>
                        <input kendoTextBox readonly formControlName="statusshipping" style="width: 100%;"
                            [(ngModel)]="formGroup.value.statusshipping" />
                    </div>
                    <div class="col-md-2">
                        <label>Tiền ship</label>
                        <kendo-numerictextbox format="n" [readonly]=true formControlName="transportFee"
                            style="width: 100%;" [(ngModel)]="formGroup.value.transportFee"></kendo-numerictextbox>
                    </div>
                    <div class="col-md-4">
                        <label>Tổng đơn</label>
                        <kendo-numerictextbox format="n" [readonly]=true formControlName="total" style="width: 100%;"
                            [(ngModel)]="formGroup.value.total"></kendo-numerictextbox>
                    </div>
                    <div class="col-md-4">
                        <label>Thành tiền</label>
                        <kendo-numerictextbox format="n" [readonly]=true formControlName="downtotal"
                            style="width: 100%;" [(ngModel)]="formGroup.value.downtotal"></kendo-numerictextbox>
                    </div>
                    <div class="col-md-4">
                        <label>Trạng thái</label>
                        <input kendoTextBox readonly formControlName="status" style="width: 100%;"
                            [(ngModel)]="formGroup.value.status" />
                    </div>
                    <div class="col-md-8">
                        <label>Địa chỉ</label>
                        <input kendoTextBox readonly formControlName="address" style="width: 100%;"
                            [(ngModel)]="formGroup.value.address" />
                    </div>
                    <div class="col-md-12" style="padding: 0px;">
                        <kendo-grid #grid [kendoGridBinding]="listOrderDetail" style="height: 400px; width: 1100;"
                            [pageSize]="20" [sortable]="true" [pageable]="true" [navigable]="true">
                            <kendo-grid-column field="quantity.product.name" title="Tên sản phẩm" [width]="250">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantitydetail" title="Số lượng" [width]="120">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantity.property.name" title="Thuộc tính" [width]="150">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantity.size.name" title="Size" [width]="150">
                            </kendo-grid-column>
                            <kendo-grid-column field="price" title="Giá gốc" [width]="150">
                                <ng-template kendoGridCellTemplate format="{0:n0}" let-dataItem>
                                    {{ dataItem.price |number :'1.0-3' }}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="downprice" title="Giá sau khi giảm" [width]="200">
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Trạng thái vận chuyển">
            <ng-template kendoTabContent style="padding: 0px;">
                <kendo-listview [data]="listStatus" containerClass="k-d-flex k-flex-col k-flex-nowrap"
                    style="border: none;">
                    <ng-template kendoListViewItemTemplate let-dataItem="dataItem" let-index="index">
                        <div style="margin: 10px;border: 3px solid greenyellow;padding: 10px 15px;border-radius: 5px;
                        box-shadow: 2px #ddd;">
                            <p><strong>Thông tin: </strong>{{dataItem.content}}</p>
                            <p><strong>Ngày/giờ:</strong>
                                <kendo-datetimepicker [value]="getDate(dataItem.date)" [disabled]="true"
                                    style="margin: 0px 10px;"> </kendo-datetimepicker>
                            </p>
                        </div>
                    </ng-template>
                </kendo-listview>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
    <kendo-dialog *ngIf="opened" (close)="close('no')" title="Please confirm" [minWidth]="250" [width]="450">
        <div style="text-align: center;">
            <form [formGroup]="Reason">
                <div class="row" style="margin: 0px;">
                    <label class="col-md-3" style="margin: 20px 0px;">Trạng thái: </label>
                    <div class="col-md-9">
                        <kendo-dropdownlist [data]="statusRefund" textField="name" valueField="id" style="width: 100%;"
                            formControlName="status" (valueChange)="changeReasonStatus($event)">
                        </kendo-dropdownlist>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <label class="col-md-3" style="margin: 10px 0px;">Lý do: </label>
                    <div class="col-md-9" style="margin: 0px;">
                        <kendo-textbox [disabled]="isDisabled" formControlName="note" style="width: 100%;"
                            [(ngModel)]="Reason.value.note"></kendo-textbox>
                    </div>
                </div>
            </form>
        </div>
        <kendo-dialog-actions>
            <div class="row" style="margin: 0px;">
                <div class="col-md-6">
                    <button kendoButton (click)="close('no')" style="width: 100%;">
                        Thoát
                    </button>
                </div>
                <div class="col-md-6">
                    <button kendoButton [primary]="true" (click)="close('yes')" style="width: 100%;">
                        Hoàn hàng
                    </button>
                </div>
            </div>
        </kendo-dialog-actions>
    </kendo-dialog>
</form>