<style>
    .row {
        margin: 10px 0px;
    }

    .row div {
        margin: 10px 0px;
    }

    label {
        display: block;
    }
</style>
<form [formGroup]="formGroup">
    <kendo-tabstrip>
        <kendo-tabstrip-tab title="Thông tin đơn hàng" [selected]="true">
            <ng-template kendoTabContent>
                <div class="row">
                    <div class="col-md-2">
                        <label>Mã sản phẩm</label>
                        <input kendoTextBox readonly style="width: 100%;" formControlName="id"
                            [(ngModel)]="formGroup.value.id" />
                    </div>
                    <div class="col-md-2">
                        <label>Phương thức thanh toán</label>
                        <div style="text-align: center;">
                            <input type="checkbox" kendoCheckBox formControlName="payment" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Tên Người nhận</label>
                        <input kendoTextBox readonly formControlName="fullname" style="width: 100%;"
                            [(ngModel)]="formGroup.value.fullname" />
                    </div>
                    <div class="col-md-4">
                        <label>SDT</label>
                        <input kendoTextBox readonly formControlName="sdt" style="width: 100%;"
                            [(ngModel)]="formGroup.value.sdt" />
                    </div>
                    <div class="col-md-4">
                        <label>Trạng thái</label>
                        <input kendoTextBox readonly formControlName="status" style="width: 100%;"
                            [(ngModel)]="formGroup.value.status" />
                    </div>
                    <div class="col-md-4">
                        <label>Giá gốc</label>
                        <input kendoTextBox readonly formControlName="total" style="width: 100%;"
                            [(ngModel)]="formGroup.value.total" />
                    </div>
                    <div class="col-md-4">
                        <label>Giá giảm</label>
                        <input kendoTextBox readonly formControlName="downtotal" style="width: 100%;"
                            [(ngModel)]="formGroup.value.downtotal" />
                    </div>
                    <div class="col-md-4">
                        <label>Giá ship</label>
                        <input kendoTextBox readonly formControlName="transportFee" style="width: 100%;"
                            [(ngModel)]="formGroup.value.transportFee" />
                    </div>
                    <div class="col-md-8">
                        <label>Địa chỉ</label>
                        <input kendoTextBox readonly formControlName="address" style="width: 100%;"
                            [(ngModel)]="formGroup.value.address" />
                    </div>
                    <div class="col-md-12" style="padding: 0px;">
                        <kendo-grid #grid [kendoGridBinding]="listOrderDetail" style="height: 400px; width: 1100;"
                            [pageSize]="20" [sortable]="true" [pageable]="true" [navigable]="true">
                            <kendo-grid-column field="quantity.id" title="Id" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="quantitydetail" title="Số lượng" [width]="120">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantity.product.name" title="Tên sản phẩm" [width]="250">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantity.property.name" title="Thuộc tính" [width]="150">
                            </kendo-grid-column>
                            <kendo-grid-column field="quantity.size.name" title="Size" [width]="150">
                            </kendo-grid-column>
                            <kendo-grid-column field="price" title="Giá gốc" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="downprice" title="Giá giảm" [width]="150"></kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Trạng thái vận chuyển">
            <ng-template kendoTabContent>

            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</form>