<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">Quản lý sản phẩm</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
    </div>
    <div class="card-body">
        <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
            [sort]="state.sort!" [group]="state.group!"  [pageable]="true" [sortable]="true" style="height: 500px; width: 1150px;"
            [columnMenu]="{ filter: true }" (edit)="editHandler($event)" (add)="addHanler($event)"
            (remove)="removeHandler($event)" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Thêm mới</button>
            </ng-template>
            <kendo-grid-command-column title="Command" [width]="370" [locked]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button kendoGridEditCommand [primary]="true">Chỉnh sửa</button>
                    <button kendoGridRemoveCommand>Xóa</button>
                    <button kendoButton iconClass="fa fa-upload" (click)="UploadImage(dataItem.id)">Tải ảnh</button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="name" title="Tên sản phẩm" [width]="250">
            </kendo-grid-column>
            <kendo-grid-column field="price" title="Giá" [width]="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.price |number :'1.0-3'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="categorydetail.category.name" title="Danh mục cấp 1" [width]="250">
                <ng-template kendoGridGroupHeaderTemplate let-value="value">
                    {{ value }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="categorydetail.name" title="Danh mục cấp 2" [width]="250">
                <ng-template kendoGridGroupHeaderTemplate let-value="value">
                    {{ value }}
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <div *ngIf="api.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
        <div kendoDialogContainer></div>
    </div>
</div>