<style>
    .row {
        margin: 10px 0px;
    }
</style>
<form [formGroup]="formGroup">
    <kendo-toolbar>
        <kendo-toolbar-button text="Save" (click)="saveHandler($event)"></kendo-toolbar-button>
    </kendo-toolbar>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Tên sản phẩm</label>
                <div class="col-md-9">
                    <input type="text" kendoTextBox style="width: 100%" formControlName="name" name="name"
                        [(ngModel)]="formGroup.value.name" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Giá sản phẩm</label>
                <div class="col-md-9">
                    <input type="text" kendoTextBox style="width: 100%" formControlName="price"
                        [(ngModel)]="formGroup.value.price" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Danh mục cấp 1</label>
                <div class="col-md-9">
                    <kendo-dropdownlist [data]="category" textField="name" valueField="id" [defaultItem]="defaultItem"
                        formControlName="category" (selectionChange)="selectCategory($event)" style="width: 100%"
                        [(ngModel)]="dataSource.categorydetail.category">
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Danh mục cấp 2</label>
                <div class="col-md-9">
                    <kendo-dropdownlist [data]="CategoryDetailById" textField="name" valueField="id"
                        [defaultItem]="defaultItem" [disabled]="disabled" formControlName="categorydetail"
                        (selectionChange)="selectCategoryDetail($event)" style="width: 100%"
                        [(ngModel)]="formGroup.value.categorydetail">
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Mô tả</label>
                <div class="col-md-9">
                    <kendo-editor [iframe]="false" style="height: 300px;" name="description"
                        formControlName="description" [(ngModel)]="formGroup.value.description">
                    </kendo-editor>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-md-3">Hình ảnh</label>
                <div class="col-md-9">
                    <div class="text-box">
                        <span class="list-title">
                            {{
                            formGroup.value.image != null
                            ? "Files currently bound to the model:"
                            : "No files are currently bound to the model"
                            }}
                        </span>&nbsp;
                        <span>
                            {{ formGroup.value.image }}
                        </span>
                    </div>
                    <kendo-fileselect (select)="select($event)" [multiple]="false"></kendo-fileselect>
                </div>
            </div>
        </div>
    </div>
</form>