<style>
    .k-button:hover {
        color: #ff787f;
    }

    .k-icon {
        font-size: 25px;
    }

    .content {
        list-style: none;
        padding: 10px;
        text-align: right;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: black;
    }

    li a:hover {
        color: #ff787f;
    }

    #menu {
        display: block;
    }

    #menu_reponseive {
        display: none;
    }

    .fa.fa-user.fa-fw {
        margin: 5px 0px;
        font-size: 25px;
    }

    ::ng-deep .popover-body {
        width: 200px;
    }
    ::ng-deep .k-drawer-wrapper {
        width: 300px;
    }
    @media only screen and (max-width: 800px) {
        #menu {
            display: none;
        }

        #menu_reponseive {
            display: block;
        }
    }

    ::ng-deep .k-drawer-items {
        margin: 0px !important;
        background: white;
        width: 300px;
        position: fixed;
        height: 100%;
    }
    ::ng-deep .k-drawer-wrapper{
        width: 300px !important;
    }
</style>
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<div style="background-color: white;padding: 10px 0px;">
    <div class="container-lg" id="menu">
        <div class="row">
            <div class="col-md-2">
                <a class="logo" href="">
                    <img src="https://mebe-04.web4s.vn/uploads/plugin/setting/3/balo-amp-tui-xach-evevon-footer-logo.png"
                        alt="Logo" width="100%" height="100%">
                </a>
            </div>
            <div class="col-md-5" style="display: flex;flex-direction: column;justify-content: center;">
                <kendo-menu [items]="menu" (select)="onSelect($event)" id="menu1"></kendo-menu>
            </div>
            <div class="col-md-5" style="display: flex;flex-direction: column;justify-content: center;">
                <div class="row">
                    <div class="col-md-8" style="text-align: right;">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search..."
                                (change)="changeFilterName($event)">
                            <button type="submit" class="btn btn-white " id="dat" (click)="searchProduct()">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-2" style="text-align: center;">
                        <a href="/my-cart" style="text-decoration: none;color: rgb(10, 10, 10);">
                            <button kendoButton icon="cart" look="clear" style="margin-top: 10px;padding: 0px;">
                                <kendo-badge style="background: #f1c969;border-color: #f1c969">
                                    {{badge}}
                                </kendo-badge>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-2" style="text-align: center;">
                        <button type="button" class="btn btn-outline-secondary mr-2" look="clear" placement="bottom"
                            kendoButton iconClass="fa fa-user fa-fw" [ngbPopover]="popContent" *ngIf="showAvatar"
                            style="padding: 0px;"></button>
                        <div class="container">
                            <button class="button type1" *ngIf="showLogin" (click)="openLogin()">
                                <div class="dn"> Đăng nhập</div>
                            </button>
                        </div>
                        <ng-template #popContent>
                            <li style="border-bottom: 1px solid #DADDE1;padding: 10px 0px;font-size: 15px;">
                                <a href="/account">Thông tin tài khoản</a>
                            </li>
                            <li style="border-bottom: 1px solid #DADDE1;padding: 10px 0px;font-size: 15px;">
                                <a href="/history-and-wallet">Ví của tôi</a>
                            </li>
                            <li>
                                <button kendoButton (click)="signOut()" look="clear" style="font-size: 13px;
                                    padding: 0;margin-top: 10px;">Đăng xuất</button>
                            </li>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="menu_reponseive">
        <kendo-drawer-container>
            <kendo-drawer #drawer [mode]="expandMode" [(expanded)]="expanded" [items]="menu" [autoCollapse]="true"
                style="transform: none;">
                <ng-template kendoDrawerHeaderTemplate >
                    <img src="https://mebe-04.web4s.vn/uploads/plugin/setting/3/balo-amp-tui-xach-evevon-footer-logo.png"
                        alt="Logo" width="100%" height="100%">
                </ng-template>
            </kendo-drawer>
            <kendo-drawer-content>
                <button class="k-button" (click)="drawer.toggle()" kendoButton iconClass="fa fa-bars"
                    style="background: none;border: none;box-shadow: none;font-size: 20px;"></button>
            </kendo-drawer-content>
        </kendo-drawer-container>
    </div>
</div>