<app-header></app-header>
<div class="row">
    <div class="col-sm-4">
        <h3>Giới Thiệu</h3>
        <h5>Hình ảnh:</h5>
        <div class="fakeimg">Vùng giả hình ảnh</div>
        <p>Nhãn mô tả cho hình ảnh</p>
        <h3>Liên kết</h3>
        <p>Nội dung mục liên kết</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Kích hoạt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên kết 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên kết 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Vô hiệu hóa</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <!-- Kết thúc cột trái -->
       
      <!-- Cột phải -->
      <div class="col-sm-8">
        <h2>TIÊU ĐỀ 1</h2>
        <h5>Mô tả tiêu đề, Ngày 01 tháng 01, 2020</h5>
        <div class="fakeimg">Vùng giả hình ảnh</div>
        <p>Một số văn bản...</p>
        <p>Một số văn bản hiển thị ở website <a href="https://www.dammio.com">ddd</a>ddd</p>
        <br>
        <h2>TIÊU ĐỀ 2</h2>
        <h5>Mô tả tiêu đề, Ngày 01 tháng 01, 2020</h5>
        <div class="fakeimg">Vùng giả hình ảnh</div>
        <p>Một số văn bản...</p>
        <p>Một số văn bản hiển thị ở website <a href="https://www.dammio.com">xxxxxx</a>xxx</p>
      </div>
      <!-- Kết thúc cột phải -->
       
    </div>
    <app-footer></app-footer>