<app-header></app-header>
<div class="about-us-box">
    <div class="about-us-ss-1">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"> <img
                    src="https://mebe-03.web4s.vn/uploads/plugin/custom_img/2018-07-08/custom-about1.png"
                    alt="banner about"></div>
            <div class="col-md-7 col-sm-10 col-xs-10" style="margin-left: 100px;">
                <div class="grid-one">
                    <h3>VỀ CHÚNG TÔI</h3>
                    <p>Slogan:<b> “Mẹ luôn dành điều tốt và đẹp nhất cho con” </b></p>
                    <p>Mami Love cung cấp các sản phẩm vô cùng đa dạng&nbsp;đáp ứng tất cả các nhu cầu cho
                        Mẹ và Bé trong giai đoạn từ 0 đến 6 tuổi.</p>
                </div>
                <div class="grid-two">
                    <h3>Chúng tôi có tất cả những gì bạn muốn dành cho bé</h3>
                    <div class="grid-item">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="txt-left">MamiLove chiếm được lòng tin của&nbsp;hơn 80.000&nbsp;mẹ bầu
                                    bởi chúng tôi là Địa chỉ cung cấp đồ sơ sinh Số 1 tại Việt Nam.</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="txt-right">MamiLove là nhà nhập khẩu và phân phối trực tiếp các
                                    dòng sản phẩm cao cấp cho bé từ Thái Lan, Hồng Kông, Pháp.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p> Mami Love cam kết về chất lượng sản phẩm và dịch vụ. <br>

                    Với phương châm mang đến những điều tuyệt vời nhất cho Bé yêu. Lấy chất lượng sản phẩm tốt để đem
                    lại cho sự yên tâm của các bậc cha mẹ. <br>

                    Về dịch vụ: Các Mẹ được hỗ trợ, tư vấn tận tình. Được xem hàng trước khi thanh toán. <br>

                    Về thanh toán: Thanh toán sau khi nhận hàng. Hàng lỗi, hàng giao không đúng yêu cầu được đổi trả
                    miễn phí.</p>
                <p>Với phương châm luôn dành điều tốt nhất cho mẹ và bé. MamiLove luôn cung cấp những sản phẩm tốt nhất
                    phù hợp với từng độ tuổi cho bé yêu của chúng ta
                </p>
                <p>MamiLove&nbsp;cung cấp các sản phẩm vô cùng đa dạng&nbsp;đáp ứng tất cả các nhu cầu cho
                    Mẹ và Bé trong giai đoạn từ 0 đến 6 tuổi. Các sản phẩm của các thương hiệu uy tín trên
                    thế giới như: Combi, Chicco, Fisher-price, Farlin, Hipp, DrBrown...đều&nbsp;được kiểm
                    tra&nbsp;và&nbsp;chứng nhận an toàncho sức khỏe của Mẹ &amp; Bé</p>
         
                        <p>Các sản phẩm thời trang của chúng tôi được trưng bày rất dõ dàng và tiện lợi để cho các mẹ bầu lựa
                    chọn
                    những sản phẩm cho mình và con
                </p>
                <p>Cha mẹ nào cũng muốn bé yêu của mình thật xinh đẹp, gọn gàng, lịch thiệp khi được mặc những bộ quần
                    áo đúng kích cỡ, đầy màu sắc và phong cách nhất. Nhưng việc chọn lựa cũng không hề đơn giản khi thị
                    trường rất đa dạng sản phẩm quần áo trẻ em, giá cả, chất lượng khác nhau.
               
                    <b>Trân trọng cảm ơn !!!!</b>
                </p>
            </div>
        </div>
        <div class="about-us-ss-2">
            <div class="title">
                <h3>Chào mừng bạn đến với thế giới của MamiLove</h3>
                <h4> Quần áo &amp; Quần áo cho mẹ</h4>
            </div>
            <div class="content-us">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" style="border-right: 1px solid;">
                        <div class="item-us about-left">
                            <div class="icon-about"><i class="fa fa-rocket" aria-hidden="true"></i></div>
                            <div class="text-about">
                                <h4>Bé mặc váy</h4>
                                <p>Những sản phẩm váy xinh cho bé gái</p>
                            </div>
                        </div>
                        <div class="item-us about-left">
                            <div class="icon-about"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
                            <div class="text-about">
                                <h4>Túi điệu đà cho bé</h4>
                                <p>Những đồ trang sức đáng yêu giúp bé thêm phần đáng yêu, được làm từ da và vải an toàn
                                    giúp
                                    bảo vệ sức khỏe cho bé.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-us about-right">
                            <div class="icon-about"><i class="fa fa-bicycle" aria-hidden="true"></i></div>
                            <div class="text-about">
                                <h4>Đồ đôi cho mẹ và bé</h4>
                                <p>Những mẫu thời trang đẹp cho mẹ và bé diện mọi lúc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="about-us-box">
            <div class="about-us-ss-3">
                <div class="img-section"> <img
                        src="https://mebe-01.web4s.vn/uploads/plugin/custom_img/2018-07-08/custom-about2.png" alt="">
                </div>
                <div class="img-section-dec right-section">
                    <p>Đã đến lúc trao quyền cho nhau để trở thành người bạn muốn trở thành và không phải là những
                        người
                        mà xã
                        hội tin rằng chúng ta phải trở thành. Để thành công, chỉ đơn giản là bạn là ai!</p>
                    <span>Gấu
                        Teddy là
                        người đàn ông Thứ sáu của tôi!</span>
                </div>
            </div>
            <div class="about-us-ss-4" style="margin-left: 45%;">
                <div class="img-section"> <img
                        src="https://mebe-01.web4s.vn/uploads/plugin/custom_img/2018-07-08/custom-about3.png" alt="">
                </div>
                <div class="img-section-dec left-section" >
                    <p>Về thời gian để trao quyền cho nhau để trở thành người bạn muốn trở thành và không phải là
                        những
                        người xã
                        hội tin rằng chúng ta có nghĩa vụ phải trở thành. Để thành công, chỉ đơn giản là bạn là ai!
                    </p>
                    <span>Thế hệ kỹ thuật số!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>