<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">Quản lý số lượng</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
    </div>
    <div class="card-body">
        <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
            [sort]="state.sort!" [group]="state.group!" [pageable]="true" [sortable]="true" [height]="500"
            [columnMenu]="{ filter: true }" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
            (add)="addHanler($event)" (remove)="removeHandler($event)">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Thêm mới</button>
            </ng-template>
            <kendo-grid-column field="product.name" title="Tên sản phẩm" [width]="300" [hidden]=true>
            </kendo-grid-column>
            <kendo-grid-column field="quantity" title="Số lượng" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="property.name" title="Thuộc tính" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="size.name" title="Size" [width]="120">
            </kendo-grid-column>
            <kendo-grid-command-column title="Tùy chỉnh" [width]="220">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand [primary]="true">Chỉnh sửa</button>
                    <button kendoGridRemoveCommand>Xóa</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="api.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
    </div>
</div>