<app-header></app-header>
<div class="NH-contactUs text-center">
  <h2 class="NH-titleContactUs mb-15">Liên hệ với chúng tôi</h2>
  <p class="NH-desContact mb-35">Với tất cả các thành viên trong nhóm của chúng tôi là cha mẹ hạnh phúc bản thân,
    chúng
    tôi có kinh nghiệm và sự chăm sóc cần thiết để chạy các cửa hàng quần áo tốt nhất cho trẻ em hạnh phúc và cha mẹ
    hạnh phúc. Cửa hàng của chúng tôi có một phạm vi thực s</p>
  <div class="row">
    <div class="col-md-4">
      <div class="innerContact wrapperAnimation">
        <div class="iconContact effectAnimation">
          <i class="fa fa-map-marker" aria-hidden="true" style="font-size:30px; line-height:30px;color:#666666;"></i>
        </div>
        <div class="contentContact">
          <h3 class="mb-10">Địa chỉ</h3>
          <p>123 Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="innerContact wrapperAnimation">
        <div class="iconContact effectAnimation"> <i class="fa fa-envelope" aria-hidden="true"
            style="font-size:30px; line-height:30px;color:#666666;"></i></div>
        <div class="contentContact">
          <h3 class="mb-10">Email</h3>
          <p>mamilovepro2112@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="innerContact wrapperAnimation">
        <div class="iconContact effectAnimation"> <i class="fa fa-phone" aria-hidden="true"
            style="font-size:30px; line-height:30px;color:#666666;"></i></div>
        <div class="contentContact">
          <h3 class="mb-10">Số điện thoại</h3>
          <p> 0334778629</p>
        </div>
      </div>
    </div>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.843631991135!2d105.73582671488357!3d21.038941785992826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134548afd787ca3%3A0x8a14e1dec06b7304!2zNywgMTIzIMSQxrDhu51uZyBYdcOibiBQaMawxqFuZywgWHXDom4gUGjGsMahbmcsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1639890724285!5m2!1svi!2s"
  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<app-footer></app-footer>