<app-header></app-header>
<div class="container-fluid" style="height: 70vh;">
    <h3 style="font-weight: 600;border-bottom: 2px solid #ddd;padding: 15px 0px;margin: 3px 0px;">Đổi mật khẩu</h3>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <kendo-stepper [steps]="steps" stepType="full" [(currentStep)]="current" [style.width.px]="570">
        </kendo-stepper>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;height: 50vh;">
        <div class="k-loading-panel" *ngIf="loaderVisible">
            <div class="k-loading-panel-mask"></div>
            <div class="k-loading-panel-wrapper">
                <kendo-loader type="infinite-spinner" themeColor="primary" size="large">
                </kendo-loader>
            </div>
        </div>
        <form style="width: 550px;margin: 15px 0px;" [formGroup]="formValue">
            <div *ngIf="step_1">
                <div class="row">
                    <label class="col-md-4">Nhập email của bạn để nhận mã OTP:</label>
                    <div class="col-md-5">
                        <input type="email" kendoTextBox placeholder="Email" style="width: 100%" formControlName="email"
                            name="email" />
                    </div>
                    <div class="col-md-3">
                        <button type="submit" kendoButton iconClass="fa fa-sign-in fa-fw" (click)="prevNext($event)"
                            style="color: #fff !important;background-color: #ffc045 !important;border-color: #ffc045 !important;">
                            Next
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="step_2">
                <div class="row">
                    <label style="margin:10px 0px;" class="col-md-4">Nhập mã OTP:</label>
                    <div class="col-md-8">
                        <input type="text" kendoTextBox placeholder="Email" style="width: 100%" formControlName="otp"
                            name="otp" />
                    </div>
                </div>
                <div class="row">
                    <label style="margin:10px 0px;" class="col-md-4">New Password:</label>
                    <div class="col-md-8">
                        <input type="password" kendoTextBox placeholder="Password" style="width: 100%"
                            formControlName="password" name="password" />
                    </div>
                </div>
                <div class="row">
                    <label style="margin:10px 0px;" class="col-md-4">Confirm password:</label>
                    <div class="col-md-8">
                        <input type="password" kendoTextBox placeholder="Email" style="width: 100%"
                            formControlName="passwordConfirm" name="passwordConfirm" />
                    </div>
                </div>
                <div style="margin: 15px 0px;">
                    <button type="submit" kendoButton iconClass="fa fa-sign-in fa-fw" (click)="changePassword()"
                        style="color: #fff !important;background-color: #ffc045 !important;border-color: #ffc045 !important;">
                        Đổi mật khẩu
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>