<style>
    kendo-textbox {
        width: 100%;
        margin-bottom: 25px;
    }

    i {
        font-size: 25px;
        color: #ddd;
        padding-right: 5px;
    }
</style>
<app-header>
</app-header>
<div class="container">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <kendo-stepper [steps]="steps" stepType="full" [(currentStep)]="current" [style.width.px]="570"
            (activate)="activate($event)">
        </kendo-stepper>
    </div>
    <div class="row">
        <div class="col-md-7" style="margin: 20px 0px;">
            <div *ngIf="step_1">
                <h3 style="color: #ef2b2b;font-weight: bold;text-align: center;font-size: 30px;padding: 10px 0px;">
                    Địa chỉ giao hàng
                </h3>
                <form [formGroup]="InfomationCustomer" class="row">
                    <div class="col-md-6">
                        <kendo-textbox formControlName="FullName" type="text" placeholder="Họ và tên"></kendo-textbox>
                    </div>
                    <div class="col-md-6">
                        <kendo-textbox placeholder="Số điện thoại" formControlName="PhoneNumber"></kendo-textbox>
                    </div>
                    <div class="col-md-6" style="margin: 10px 0px;">
                        <kendo-dropdownlist [data]="listProvince" textField="Name" valueField="Id"
                            [defaultItem]="{ Name: 'Tỉnh Thành', Id: null }" (valueChange)="ProvinceChange($event)"
                            formControlName="Province" [valuePrimitive]="true" style="width: 100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="col-md-6" style="margin: 10px 0px;">
                        <kendo-dropdownlist [data]="listDistrict" textField="Name" valueField="Id"
                            [defaultItem]="{ Name: 'Quận/Huyện', Id: null }" (valueChange)="DistrictChange($event)"
                            formControlName="District" [valuePrimitive]="true" style="width: 100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="col-md-6" style="margin: 10px 0px;">
                        <kendo-dropdownlist [data]="listWards" textField="Name" valueField="Id"
                            [defaultItem]="{ Name: 'Phường/Xã', Id: null }" (valueChange)="WardsChange($event)"
                            formControlName="Wards" [valuePrimitive]="true" style="width: 100%;">
                        </kendo-dropdownlist>
                    </div>
                    <div class="col-md-6" style="margin: 10px 0px;">
                        <kendo-textbox placeholder="Tổ/Xóm" formControlName="Hamlet" (change)="HamletChange($event)"></kendo-textbox>
                    </div>
                    <div class="col-md-12">
                        <kendo-textbox placeholder="Địa chỉ" formControlName="Address" [(ngModel)]="InfomationCustomer.value.Address"></kendo-textbox>
                    </div>
                    <div class="col-md-12">
                        <kendo-textbox placeholder="Ghi chú" formControlName="Note"></kendo-textbox>
                    </div>
                </form>
            </div>
            <div *ngIf="step_2">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="color: #ef2b2b;font-weight: bold;font-size: 30px;padding: 10px 0px;">
                            Địa chỉ giao hàng
                        </h3>
                        <p><i class="fa fa-user" aria-hidden="true"
                                style="width: 25px;margin-right: 15px;"></i>{{BillObj.fullname}}</p>
                        <p><i class="fa fa-mobile" aria-hidden="true"
                                style="width: 25px;margin-right: 15px;"></i>{{BillObj.sdt}}</p>
                        <p><i class="fa fa-map" aria-hidden="true"
                                style="width: 25px;margin-right: 15px;"></i>{{BillObj.address}}</p>
                    </div>
                    <div class="col-md-12">
                        <h3 style="color: #ef2b2b;font-weight: bold;font-size: 30px;padding: 10px 0px;">
                            Chọn phương thức thanh toán
                        </h3>
                        <form [formGroup]="Payment">
                            <div style="font-size: 30px;margin: 20px 0px;">
                                <input type="radio" name="payment" value="cash"formControlName="payment"
                                    kendoRadioButton (change)="PaymentMethodChange($event)"/>
                                <label style="padding: 0px 20px;">
                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                    Vận chuyển toàn quốc
                                </label>
                            </div>
                            <div style="font-size: 30px;margin: 20px 0px;">
                                <input type="radio" name="payment" value="transfer" formControlName="payment"
                                    kendoRadioButton (change)="PaymentMethodChange($event)"/>
                                <label style="padding: 0px 20px;">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    Thanh toán qua ví
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="step_3"
                style="border-bottom: 1px solid #ddd;display: flex;flex-direction: column;justify-items: center;align-items: center;padding: 100px;border-top: 1px solid #ddd;margin: 15px">
                <i class="fa fa-check-circle" aria-hidden="true" style="color: limegreen;font-size: 80px;"></i>
                <h3 style="margin: 15px 0px;font-weight: 600;">Bạn đã đặt hàng thành công</h3>
            </div>
            <div style="float: right;" *ngIf="!step_3">
                <button kendoButton iconClass="fa fa-check" (click)="buyProduct()"
                    style="background-color: #ef2b2b;color: white;font-size: 20px;">
                    Thanh toán đơn hàng
                </button>
            </div>
        </div>
        <div class="col-md-5" style="margin: 20px 0px;">
            <kendo-listview [data]="dataSource" [height]="600">
                <ng-template kendoListViewHeaderTemplate>
                    <h3 class="header-title"
                        style="text-align: center;font-weight: 600;padding: 10px 0px;color: #ef2b2b">Thông tin đơn hàng
                    </h3>
                </ng-template>
                <ng-template kendoListViewItemTemplate let-card="dataItem" let-index="index">
                    <kendo-card-header class="k-hbox">
                        <div class="col-md-3">
                            <img src="http://localhost:8080/manager/image/get/{{card.Product.image}}" width="80px" height="100px">
                        </div>
                        <div class="col-md-6" style="padding: 0px;">
                            <div *ngIf="card.newPrice != 0">
                                <span style="color: #ffc045;padding-top: 10px;font-size: 20px;font-weight: 600;"
                                    *ngIf="card.newPrice != 0">
                                    {{card.newPrice}} VNĐ
                                </span>
                                <small
                                    style="text-decoration-line: line-through;padding: 0px 15px;color: #ddd;">{{card.Product.price}}
                                    VNĐ</small>
                            </div>
                            <div *ngIf="card.newPrice == 0">
                                <span style="color: #ffc045;padding-top: 10px;font-size: 20px;font-weight: 600;"
                                    *ngIf="card.newPrice == 0">
                                    {{card.Product.price}} VNĐ
                                </span>
                            </div>
                            <a href=""
                                style="font-size: 1.2857em;color: #333;display: block;text-decoration: none;font-weight: 600;">
                                {{card.Product.name}}
                            </a>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Số lượng</label>
                                <div class="col-md-8">
                                    <kendo-numerictextbox format="0" [min]="0" [max]="100" style="width: 100%;"
                                        [value]="card.Quantity">
                                    </kendo-numerictextbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;">
                            <button kendoButton iconClass="fa fa-info-circle fa-fw" look="clear"
                                style="color: #5ec232;font-size: 20px;"
                                (click)="infoCardItem($event,card.Id,index)"></button><br />
                            <button kendoButton iconClass="fa fa-trash fa-fw" look="clear"
                                (click)="removeCardItem($event,card.Id,index)"
                                style="color: #ef2b2b;font-size: 20px;"></button>
                        </div>
                    </kendo-card-header>
                </ng-template>
                <ng-template kendoListViewFooterTemplate>
                    <div class="row" style="padding: 12px 16px;">
                        <strong style="font-weight: 400;line-height: 1.68;color: #888;" class="col-md-3">Chọn voucher:
                        </strong>
                        <div class="col-md-9">
                            <kendo-dropdownlist [data]="listVoucher" textField="name" valueField="id"
                                [disabled]="!isPayment" style="float: right;width: 100%;" [defaultItem]="defaultVoucher"
                                (valueChange)="selectVoucher($event)">
                            </kendo-dropdownlist>
                        </div>
                    </div>
                    <div style="padding: 12px 16px;">
                        <strong style="font-weight: 400;line-height: 1.68;color: #888;">Tổng cộng :</strong>
                        <strong
                            style="float: right;font-size: 1.2857em;font-weight: bold;margin-bottom: 0;color: #ffc045;">
                            {{total}} VND
                        </strong>
                    </div>
                    <div style="padding: 12px 16px;">
                        <strong style="font-weight: 400;line-height: 1.68;color: #888;">Thành tiền: </strong>
                        <strong
                            style="float: right;font-size: 1.2857em;font-weight: bold;margin-bottom: 0;color: #ffc045;">
                            {{toMoney}} VND
                        </strong>
                    </div>
                </ng-template>
            </kendo-listview>
        </div>
    </div>
    <div *ngIf="api.loading" class="k-i-loading"></div>
    <div kendoDialogContainer></div>
</div>
<header>

</header>
<app-footer></app-footer>