<style>
    .row {
        margin: 15px 0px;
    }

    #loading {
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        font-size: 64px !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        color: #ff6757 !important;
        z-index: 99999;
    }
</style>
<form [formGroup]="formAccount">
    <kendo-toolbar>
        <kendo-toolbar-button text="Lưu" (click)="saveHandler($event)"></kendo-toolbar-button>
    </kendo-toolbar>
    <div class="row">
        <label class="col-md-3">Email:</label>
        <div class="col-md-9">
            <input type="text" kendoTextBox style="width: 100%" formControlName="email"
                [(ngModel)]="formAccount.value.email" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">Username:</label>
        <div class="col-md-9">
            <input type="text" kendoTextBox style="width: 100%" formControlName="username"
                [(ngModel)]="formAccount.value.username" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">Password:</label>
        <div class="col-md-9">
            <input type="text" kendoTextBox style="width: 100%" formControlName="password"
                [(ngModel)]="formAccount.value.password" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">SDT:</label>
        <div class="col-md-9">
            <input type="text" kendoTextBox style="width: 100%" formControlName="phone"
                [(ngModel)]="formAccount.value.phone" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">Quyền admin:</label>
        <div class="col-md-9">
            <kendo-dropdownlist [data]="listRole" textField="name" valueField="id" (valueChange)="changeRole($event)"
                style="width: 100%;">
            </kendo-dropdownlist>
        </div>
    </div>
    <div *ngIf="api.loading" class="k-i-loading" id="loading"></div>
</form>