<style>
    .NH-titleSidebar {
        border: none;
        color: #fff;
        background: #ff787f;
        text-align: center;
        padding: 10px 0 10px;
        border-radius: 10px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    .k-label{
        padding: 0px 10px;
    }
    li{
        list-style: none;
        margin: 10px 0px;
    }
</style>
<div class="layout">
    <div class="panelbar-wrapper">
        <h3 class="NH-titleSidebar">Danh mục sản phẩm </h3>
        <kendo-panelbar [expandMode]="kendoPanelBarExpandMode" [items]="categoriesView"
            (stateChange)="stateChange($event)" [selectable]="false" style="border: none;">
        </kendo-panelbar>
    </div>
    <div class="panelbar-wrapper">
        <h3 class="NH-titleSidebar">Trạng thái </h3>
        <ul>
            <li>
                <input type="radio" name="status" value="all" #all [(ngModel)]="model.status" kendoRadioButton
                    (change)="changeStatus()" checked/>
                <label class="k-label" [for]="all">Tất cả</label>
            </li>
            <li>
                <input type="radio" name="status" value="discount" #discount [(ngModel)]="model.status" kendoRadioButton
                    (change)="changeStatus()" />
                <label class="k-label" [for]="discount">Giảm giá</label>
            </li>
            <li>
                <input type="radio" name="status" value="new" #new [(ngModel)]="model.status" kendoRadioButton
                    (change)="changeStatus()" />
                <label class="k-label" [for]="new">Hàng mới về</label>
            </li>
            <li>
                <input type="radio" name="status" value="selling" #selling [(ngModel)]="model.status" kendoRadioButton
                    (change)="changeStatus()" />
                <label class="k-label" [for]="selling">Hàng bán chạy </label>
            </li>
        </ul>
    </div>
</div>