<style>
    .NH-titleSidebar {
        border: none;
        color: #fff;
        background: #ff787f;
        text-align: center;
        padding: 10px 0 10px;
        border-radius: 10px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .k-label {
        padding: 0px 10px;
    }

    li {
        list-style: none;
        margin: 10px 0px;
    }

    @media only screen and (max-width: 1000px) {
        .layout {
            display: none;
        }
    }
</style>
<div class="layout">
    <div class="panelbar-wrapper">
        <h3 class="NH-titleSidebar">Danh mục sản phẩm </h3>
        <kendo-panelbar [expandMode]="kendoPanelBarExpandMode" [items]="categoriesView"
            (stateChange)="stateChange($event)" [selectable]="false" style="border: none;">
        </kendo-panelbar>
    </div>
</div>