.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::ng-deep .k-dropdown-wrap .k-input {
  padding: 8px;
}

/*  */
.img {
  border-radius: 5px;
  background-color: aliceblue;
}

.opacity:hover {
  opacity: 0.6
}

.fotder {
  margin-left: 10px;
  font-size: 20px;
}

.name {
  margin-top: -25px;
  font-family: Arial, Helvetica, sans-serif;
}

.name a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #3f3e3e;
}

.name a:hover {
  color: #ff3333;
}

.d {
  text-decoration: underline;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5px;
  color: #ffc045;
}

.price {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: -15px;
}

.thu-nghiem-zoom img {
  display: block;
  transition: all .3s ease;
}

.thu-nghiem-zoom img:hover {
  transform: scale(1.5);
}

.thu-nghiem-zoom p {
  display: block;
  overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);

.item {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.item:hover>.overflow>.content-art {
  transform: translateY(0) translateZ(0);
}

.overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.content-art {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: #fff;
  font-weight: 700 !important;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  transform: translateY(100%) translateZ(0);
  transition: transform 450ms ease-out;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  background: #1f253d;
  font-family: "Ubuntu", sans-serif;
}
/* .col-xl-7.col-lg-6.col-md-6.col-sm-12.col-12 :hover{
 box-shadow: 0 0 1px cadetblue;
} */
.status-product {
  font-size: 13px;
  color: #fefefe;
  display: block;
  width: 40 px;
  height: 42 px;
  position: absolute;
  top: 10 px;
  right:10 px;
  text-align: center;
  line-height: 48px;
  z-index: 2;
  border-radius: 100%;
  background-color: #cc4148;
}
